//colores
$color-primary-H: #184d47;
$color-primary-M: #96bb7c;
$color-primary-L: #cdddc2;

$color-secundary-H: #5f4bb6;
$color-secundary-M: #9ab7d7;
$color-secundary-L: #dfe6ee;

$color-neutro-H: #170f11;
$color-neutro-M: #585858;
$color-neutro-L: #d2d2d2;
